
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Ajouter une nouvelle publicité</button>
            <br><br>
            <ng-template #mymodal1 let-modal1>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title" >Ajouter une nouvelle publicité</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                        <span aria-hidden="true" (click)="cancel()">×</span>
                    </button>
    
                </div>
                <div class="center">
                <form>
                    <div class="row" class="col-md-6">
                        <input type="text" placeholder="Nom publicité" [(ngModel)]="publicite.nom"
                            [ngModelOptions]="{standalone : true}">
                    </div>
                    <div class="row" class="col-md-6">
                        <input type="date" placeholder="Date Début" [(ngModel)]="publicite.dateDebut"
                            [ngModelOptions]="{standalone : true}">
                    </div>
                    <div class="row" class="col-md-6">
                        <input type="date" placeholder="DateFin" [(ngModel)]="publicite.dateFin"
                            [ngModelOptions]="{standalone : true}">
                    </div>
                    <div class="row" class="col-md-6">
                        <input type="number" placeholder="Quantity" [(ngModel)]="publicite.dateFin"
                            [ngModelOptions]="{standalone : true}">
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" (click)="addPublicite(publicite)" (click)="modal1.close('Save click')">Add</button> 
                    <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
                </form>
            </div>
            </ng-template>
            <div class="row">
                <div class="card" class="text-center">
                    <table class="table">
                        <thead style="background-color: rgb(192, 183, 183);">
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Date Début</th>
                            <th>Date Fin</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let p of listPublicite'>
                                <td>{{p.nom}}</td>
                                <td>{{p.image}}</td>
                                <td>{{p.dateDebut}}</td>
                                <td>{{p.dateFin}}</td>
                                <td><button type="button" class="btn btn-outline-primary"
                                        (click)="open(mymodal)">edit</button>
                                    <ng-template #mymodal let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true" (click)="cancel()">×</span>
    
                                            </button>
    
                                        </div>
                                        <div>
                                        <form>
                                            <div class="modal-body">
    
                                                <div class="row" class="col-md-5">
                                                    <label>Nom</label>
                                                    <input type="text" [(ngModel)]="p.nom" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                    <label>Image</label>
                                                    <input type="text" [(ngModel)]="p.image" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                    <label>Date Début</label>
                                                    <input type="date" [(ngModel)]="p.dateDebut" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                    <label>Date Fin</label>
                                                    <input type="date" [(ngModel)]="p.dateFin" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                            </div>
    
                                            <div class="modal-footer">
    
                                                <button type="button" class="btn btn-info"
                                                    (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                                                <button class="btn btn-success"(click)="editPublicite(p)" (click)="modal.close('Save click')">Validate</button>
                                            </div>
                                        </form>
                                    </div>
                                    </ng-template>
                                    <button type="button" class="btn btn-outline-danger"
                                        (click)="deletePublicite(p.idPublicite)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    